body{
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 5%;
    background-color: #f3d403;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(225,37,23,1) 90%);
}

.title{
    font-family: 'Bungee', cursive;
    color: #e71c23;
    text-align: center;
}
.tabContainer{
    width: 100%;
    height: 800px;

}
.buttonContainer{
    height: 15%;
    position: relative;
    
}
button{
    width: 25%;
    height: 100%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-family: sans-serif;
    font-size: 18px;
    background-color: gray;
}
button:hover{
    background-color: rgba(2,0,36,1);
    color: yellow;
    transition: 0.3s;
}
.tabPanel{
    position: relative;
    height: 85%;
    background-color: gray;
    color: white;
    text-align: center;
    padding-top: 0.1%;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 22px;
    display: none;
    -webkit-box-shadow: 24px 32px 10px 3px rgba(0,0,0,0.12);
    -moz-box-shadow: 24px 32px 10px 3px rgba(0,0,0,0.12);
    box-shadow: 24px 32px 10px 3px rgba(0,0,0,0.12);
}
.char-image-box{
    width: 40%;
    background-image: url("images/marvelcomic.png");
    background-size: cover;
    height: 70%;
    margin-left: 5%;
    margin-top: -3%;
    border: 2px solid black;
}
.character-name{
    padding-bottom: 3%;
}
.character-bio{
    margin-left: 48%;
    width: 50%;
    position: absolute;
    margin-top: -26%;
}








@media (max-width: 600px) {
    .body-small{
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 0%;
    }
    .stacking{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}





.overlay {
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(250, 205, 205, 0.68);
}

.spinner {
    animation: rotate 2s linear infinite;
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
  }
  
  .spinner .path {
    stroke: rgb(233, 202, 200);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }