body{
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 5%;
}

.title{
    font-family: 'Bungee', cursive;
    color: #e71c23;
    text-align: center;
}
.tabContainer{
    width: 100%;
    height: 800px;
}
.buttonContainer{
    height: 15%;
}
button{
    width: 25%;
    height: 100%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-family: sans-serif;
    font-size: 18px;
    background-color: gray;
}
button:hover{
    background-color: greenyellow;
}
.tabPanel{
    position: relative;
    height: 85%;
    background-color: gray;
    color: white;
    text-align: center;
    padding-top: 0.1%;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 22px;
    display: none;
}
.char-image-box{
    width: 40%;
    background-image: url("images/marvelcomic.png");
    background-size: cover;
    height: 70%;
    margin-left: 5%;
    margin-top: -3%;
    border: 2px solid black;
}
.character-name{
    padding-bottom: 3%;
}
.character-bio{
    margin-left: 48%;
    width: 50%;
    position: absolute;
    margin-top: -26%;
}

@media (max-width: 600px) {
    .body-small{
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 0%;
    }
    .stacking{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}